.category-container {
  justify-content: center;
  align-items: center;
}

@media (min-width: 780px) {
  .category-container {
    flex-direction: row;
    min-height: 90vh;
    margin: unset;
  }
}

@media (max-width: 640px) {
  .category-container {
    margin: 2rem 0;
  }
}
