.category-card {
  width: 18rem;
  max-height: 25rem;
  padding: var(--spacing-xs);
  border-radius: 0.2rem;
  box-shadow: var(--shadow-subtle);
}

.category-card > img {
  width: 98%;
  max-height: 60%;
}

/* for buttons */
.play-btn {
  padding: var(--spacing-3xs) var(--spacing-2xs);
  color: var(--prim-col);
  font-family: var(--ubuntu);
}

.play-btn:hover:enabled {
  transform: scale(1.05);
  box-shadow: var(--shadow-subtle);
  transition: transform 0.1s;
}

/* for divs etc */
.play-btn-style {
  padding: var(--spacing-3xs) var(--spacing-2xs);
  color: var(--prim-col);
  font-family: var(--ubuntu);
}

.play-btn-style:hover {
  transform: scale(1.05);
  box-shadow: var(--shadow-subtle);
  transition: transform 0.1s;
}
