.main {
  align-items: center;
  margin: 0 0.5rem;
}

.main-img {
  width: 40%;
}

.cta-btn {
  padding: var(--spacing-xs) var(--spacing-sm);
  color: var(--prim-col);
  font-family: var(--ubuntu);
}

.cta-btn:hover {
  transform: translateX(2%);
  box-shadow: var(--shadow-subtle);
  transition: transform 0.5s;
}

@media (max-width: 640px) {
  .main {
    flex-direction: column;
    padding: 40% 0.2rem;
    gap: 2rem;
  }

  .main-img {
    width: 60%;
  }
}

@media (min-width: 640px) {
  .main {
    height: 80vh;
    margin: 2rem;
  }
}
