@import url(https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&family=Ubuntu:wght@300;400;500&display=swap);

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.light {
  background-color: white;
  color: black;
}

.dark {
  background-color: #414143;
  color: white;
}

/* utils */

.heading-text {
  font-weight: 500;
  height: 1.4rem;
}

.prim-text {
  color: var(--prim-col);
}

.bg-prim-li {
  background-color: var(--prim-col-li);
}

.w-30 {
  width: 30%;
}
